version: "3.8"

services:
  redis:
    image: "redis:alpine"
    networks:
      - front-tier
      - back-tier

  db:
    image: "postgres:9.4"
    volumes:
      - "db-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    networks:
      - back-tier

  vote:
    build: ./vote
    ports:
      - "5000:80"
    depends_on:
      - redis
    networks:
      - front-tier

  result:
    build: ./result
    ports:
      - "5001:80"
    depends_on:
      - db
    networks:
      - back-tier

  worker:
    build: ./worker
    depends_on:
      - redis
      - db
    networks:
      - front-tier
      - back-tier

volumes:
  db-data:

networks:
  front-tier:
  back-tier: