apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      volumes:
      - name: dynatrace-oneagent
        csi:
          driver: csi.dynatrace.com 
          readOnly: true
          volumeAttributes:
            tenant: "dynatrace" 

      containers:
      - image: vedranregistry99.azurecr.io/vote
        name: vote
        ports:
        - containerPort: 80
          name: vote
        volumeMounts:
        - name: dynatrace-oneagent
          mountPath: /opt/dynatrace/oneagent-paas 
          readOnly: true
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
      imagePullSecrets:
      - name: acr-secret