name: Sysdig Voting App Image Scans

on:
  workflow_dispatch:

jobs:
  scan-images:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

      # Scan vote image
    - name: Build vote image
      run: docker build -t dockersamples/examplevotingapp_vote:latest vote/

    - name: Scan vote image
      uses: sysdiglabs/scan-action@v6
      with:
        image-tag: dockersamples/examplevotingapp_vote:latest
        sysdig-secure-token: ${{ secrets.SECURE_API_TOKEN }}
        stop-on-failed-policy-eval: true
        stop-on-processing-error: true

    - name: Upload vote SARIF
      if: success() || failure()
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ${{ github.workspace }}/sarif.json

      # Scan worker image
    - name: Build vote image
      run: docker build -t dockersamples/examplevotingapp_worker:latest worker/

    - name: Scan worker image
      uses: sysdiglabs/scan-action@v6
      with:
        image-tag: dockersamples/examplevotingapp_worker:latest
        sysdig-secure-token: ${{ secrets.SECURE_API_TOKEN }}
        stop-on-failed-policy-eval: true
        stop-on-processing-error: true

    - name: Upload worker SARIF
      if: success() || failure()
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ${{ github.workspace }}/sarif.json

      # Scan result image
    - name: Build result image
      run: docker build -t dockersamples/examplevotingapp_result:latest result/

    - name: Scan result image
      uses: sysdiglabs/scan-action@v6
      with:
        image-tag: dockersamples/examplevotingapp_result:latest
        sysdig-secure-token: ${{ secrets.SECURE_API_TOKEN }}
        stop-on-failed-policy-eval: true
        stop-on-processing-error: true

    - name: Upload result SARIF
      if: success() || failure()
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: ${{ github.workspace }}/sarif.json
